<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    
    <md-button ng-click="app.toggleSidebar()" aria-label="Toggle menu" hide-gt-sm class="md-icon-button">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    
    <h1><a href="/">2Sober2Auth</a></h1>

    <span flex></span>

    <a ng-if="!app.signedIn()" ui-sref="signIn">Sign In</a>
    <a ng-if="app.signedIn()" ng-click="app.signOut()">Sign Out</a>

  </div>
</md-toolbar>

<md-content layout="row" flex>
  <div layout="column" flex id="content" ui-view></div>
</md-content>