<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    
    <md-button aria-label="Logo" class="md-icon-button" ng-click="app.whoey()">
      <md-icon md-svg-icon="logo"></md-icon>
    </md-button>
    
    <h1><a href="/">2Sober</a><a ui-sref="users">2</a><a href="/">Auth</a></h1>

    <span flex></span>

    <a ng-if="!app.signedIn() && $state.current.name !== 'signIn'" ui-sref="signIn">Sign In</a>
    <a ng-if="!app.signedIn() && $state.current.name === 'signIn'" ui-sref="register">Register</a>
    <a ng-if="app.signedIn()" ng-click="app.signOut()">Sign Out</a>

  </div>
</md-toolbar>

<md-content layout="row" flex>
  <div layout="column" flex id="content" ui-view></div>
</md-content>