<md-content layout="column" flex class="page-investments">
  
  <div>
    <md-subheader class="md-primary">Your result:</md-subheader>
    <md-content class="gauge-inside">
      <gauge level="inv.level"></gauge>
    </md-content>
  </div>

  <div>
    <md-subheader class="md-primary">Investments:</md-subheader>
    <md-content>
      <md-list-item class="md-2-line" ng-repeat="investment in inv.investments" ng-click="null">
        <div class="md-list-item-text" layout="column">
          <h3>{{ investment.name }}</h3>
          <p>{{ investment.subtitle }}</p>
        </div>
        <sparkline levels="[1, 2, 3, 1, 3]"></sparkline>
        <md-button class="md-primary mr-raised md-icon-button" ng-href="{{ investment.url }}" target="_blank" ng-if="investment.enabled" aria-label="Go">
          <md-icon md-svg-icon="logo"></md-icon>
        </md-button>
      </md-list-item>
    </md-content>
  </div>

</md-content>