<md-content layout="column" flex class="page-investments">
  
  <div>
    <md-subheader class="md-primary">Your result:</md-subheader>
    <md-content class="gauge-inside">
      <gauge level="inv.level"></gauge>
      <md-icon md-svg-icon="ambulance" ng-if2="inv.ambulance" class="ambulance"></md-icon>
    </md-content>
  </div>

  <div>
    <md-subheader class="md-primary">{{ inv.message }}</md-subheader>
    <md-content>
      <md-list-item class="md-2-line" ng-repeat="investment in inv.investments" ng-click="null">
        <div class="md-list-item-text with-sparkline" layout="column">
          <h3>{{ investment.name }}</h3>
          <p>{{ investment.subtitle }}</p>
        </div>
        <sparkline levels="investment.levels"></sparkline>
        <md-button class="md-primary mr-raised" ng-href="{{ investment.url }}" target="_blank" ng-disabled="!investment.enabled" aria-label="Invest">
          <md-tooltip md-direction="left">
            <span ng-if="investment.enabled">LET'S DO THIS!!!111</span>
            <span ng-if="!investment.enabled">You are too sober.</span>
          </md-tooltip>
          Invest
        </md-button>
      </md-list-item>
    </md-content>
  </div>

</md-content>