<md-content layout="column" flex class="page-verify">
  <form name="ver.form" novalidate>

    <md-subheader class="md-primary">Verify your drunk level:</md-subheader>

    <div class="md-padding">

      <md-input-container class="md-block">
        <label>2S2A Key</label>
        <input name="key" ng-model="ver.data.key" type="text" required autofocus>
      </md-input-container>

      <md-button type="submit" ng-click="ver.send()" class="md-raised md-primary">Verify</md-button>

    </div>

  </form>
</md-content>