html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}

[ng-click], [ui-sref] {
  cursor: pointer;
}

#main {
  min-height: 100%;
}

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

.page-welcome > div {
  text-align: center;
}

.page-welcome > div:first-child img {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 200px;
}

.page-welcome h2 {
  margin: auto;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

